<p lang>
    <a (click)="locale='es'" href="#">ES</a> | <a (click)="locale='en'" href="#">EN</a>
    <br>
    v.{{version}}
</p>
<header>
  <h2>{{'title1' | translate}}</h2>
  <h1>{{'title2' | translate}}</h1>
</header>
<main>
  <section>
    <form>
      <label for="code">{{ 'countryCode' | translate }} *</label>
      <select name="code" [(ngModel)]="code" [ngModelOptions]="{standalone: true}">
        <option value="-1">{{ 'selectCountry' | translate }}
        <option *ngFor="let country of countries" value="{{country.dial_code}}">{{country.name}} ({{country.dial_code}})</option>
      </select>
      <label for="num">{{ 'phoneNumber' | translate }} *</label>
      <input required type="tel" name="num" [(ngModel)]="num" placeholder="{{'phoneNumber'|translate}}"
        [ngModelOptions]="{standalone: true}" />
      <label for="name">{{ 'name' | translate }} ({{ 'optional' | translate }})</label>
      <input required type="text" name="name" [(ngModel)]="name" placeholder="{{'name'|translate}}" [ngModelOptions]="{standalone: true}" />
      <button type="button" (click)="send()">{{'send' | translate}}</button>
    </form>
  </section>
  <aside>
    <h4 *ngIf="loading" class="loading">{{'loading' | translate}}...</h4>
    <h4 *ngIf="!historyNumbers" class="empty">{{'welcome1' | translate}} <br />{{'welcome2'|translate}}<br />
      {{ 'welcome3' | translate}}.</h4>
    <h4 *ngIf="historyNumbers" class="title">{{ 'history' | translate}} <span (click)="clean()" title="{{'delete' | translate}}">🗑</span></h4>
    <ul *ngIf="historyNumbers">
      <li *ngFor="let hist of historyNumbers" (click)="writeTo(hist.number)" title="# {{ hist.tooltip }} - {{hist.date | amLocale:translate.currentLang | amTimeAgo}}">
        # {{hist.name || hist.number}} - {{hist.date | amLocale:translate.currentLang | amTimeAgo}}
      </li>
    </ul>
  </aside>
</main>

<footer>
  by <a target="_blank" href="https://thinkup.com.ar/contacto" rel="noreferrer">ThinkUp Studios</a> - Argentina - 2019
</footer>
